
{% extends 'base/home.html' %}
{% load staticfiles %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'secretariav_crear' %}">Registrar Secretaria</a></li>
<li class="breadcrumb-item"><a href="{% url 'secretariav_listar' %}">Secretarias Activas</a></li>
{% endblock %}

{% block content %}





<form method="post">
  {% csrf_token %}
  
  {% for hidden in form.hidden_fields %}

      {{hidden}}

  {% endfor %}



  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12" style="margin: 0 auto;">
          <div class="">
            <!-- general form elements -->
            <div class="card card-primary" >
              <div class="card-dark card-info card-outline " style="background-color:#343a40">
              
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  

                  <div class="text_center">
                  
                    <small class="text-danger">
                      {% if form.errors %}
                        {% for field in form %}
                        {% if field.errors %}
                          {% for error in field.errors %}
                                {{ error|escape }}
                          {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                               {{ error|escape }}
                        {% endfor %}
                        {% endif %}

                      {% endif %}
                            

                    </small>

                  </div> 


                  <div class="card-body row">
                    <div class="col-md-6">

                      <div class="tab-custom-content">
                        <p class="lead mb-1">AGREGAR NUEVA SECRETARIA </p>
                   
                      <br>
                      </div>

                      <br>
      
                        
                     
                      <div class="form-group">
                        <label for="{{ form.nombre.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.nombre.label}}</label>
                              <br>
                            
                              <div class="col-sm-12">
                                {{form.nombre}}
    
                        </div>
                      </div>
    
                      <div class="form-group">
                        <label for="{{ form.sigla.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.sigla.label}}</label>
                        <div class="col-sm-12">
                                {{form.sigla}}
                        </div>
                      </div>
    
                      <div class="form-group">
                        <label for="{{ form.tipo.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.tipo.label}}</label>
                        <br>
                        <div class="col-sm-12">
                                {{form.tipo}}
    
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="{{ form.detalle.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.detalle.label}}</label>
                        <br>
                        <div class="col-sm-12">
                                {{form.detalle}}
    
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="{{ form.etiqueta.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.etiqueta.label}}</label>
                        <br>
                        <div class="col-sm-12">
                                {{form.etiqueta}}
    
                        </div>
                      </div>








          

                     
                   
                    </div>
                    <div class="col-md-6">


                       <br>
                       <br>

                          


                     
      
                         <BR></BR>
      
      

                        <div class="widget-user-image   text-center">
                                  
                            
                          <img class="img-circle" width="200" height="200" src="{% static 'img/gober.png' %}" alt="User Avatar">
                        </div>

                      
            
                      

        

             
                


                    </div>

                  </div>







                  

                  
                </div>
                <!-- /.card-body -->
  
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" style="background-color:#00588e "><b>ENVIAR</b> </button>
              </div>
            </form>
          </div>
  
  </div>
  </div>
  </div>
  </div>
  </section>


</form>



{% endblock %}


