{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#red_list').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            });
        } );
</script>
{%  endblock %}

{% block contentwrapper %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->


{% endblock %}

{% block content %}
    











    <!-- SEARCH FORM -->
 <!--   <div class="container">
        <div class="row">
            <div class="col-md-12 search">
                <form method="GET">
                    <div  id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input class="form-control" type="text" placeholder="Buscar..." aria-label="Search" name="buscar">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button class="boton btn-success" type="submit" aria-label="Search"  >Buscar
                                </button>
                            </span>
                        </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>

--> 
<p></p>




<div class="col-md-12">
    <!-- Widget: user widget style 1 -->
    <div class="card card-widget widget-user shadow-lg">
      <!-- Add the bg color to the header using any of the bg-* classes     https://www.platinapartners.com/wp-content/uploads/2019/05/PortHead_Lighthouse01.jpg   -->
      <!-- Add the bg color to the header using any of the bg-* classes     https://www.argored.es/wp-content/uploads/2020/06/Copenhague-desde-el-aire-a-lo-largo-de-la-cuarentena-1500x400.jpg   -->

      <div class="widget-user-header  d-flex flex-column justify-content-center text-white   "  src="{% static 'img/photo1.png' %} " 
            style="background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Vista_panor%C3%A1mica_de_Potos%C3%AD.jpg/1920px-Vista_panor%C3%A1mica_de_Potos%C3%AD.jpg')center center; height:390px;text-align: center; ">
            <br>
           
            <div class="bg-black disabled color-palette"><span><h3 class="widget-user-username text-right  bg-light  color-palette "  style="justify-content: center;display: flex;align-items: center;">  <h2>  <b> GOBIERNO AUTÓNOMO DEPARTAMENTAL DE <b>POTOSÍ</b>   </b></h2>  </h3></span></div>
            <h5 class="widget-user-desc text-right"><p></p> <p></p></h5>
        <br>
      </div>


     

      
      <div class="widget-user-image">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p></p>
          <p></p>
        <img class="img-circle" src="{% static 'img/gober.png' %}" alt="User Avatar">
      </div>


    </div>
    <!-- /.widget-user -->
  </div>
 



    <section class="content">

      

        <div class="">
            
        <div class="row">
            
            <!-- left column -->
            <div class="col-md-12" style="margin: 0 auto;">

                <div class="card-footer clearfix">
                
                <p></p>
                <!-- general form elements -->
                <div class="card card-primary " >
                    
                <div class="card-header card-info card-outline " style="background-color:#343a40">
                    <h3 class="card-title"> <b>LISTA DE SECRETARIAS REGISTRADAS</b> </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form  id="red_list1">
                    <div class="card-body">
                        <table class="table table-bordered table-striped" id="red_list">
                            <thead>
                                <tr>
                                    <td>#</td>
                                
                                    <td> <b>NOMBRE</b> </td>
                                    <td><b>SIGLA</b></td>
                                    <td><b>TIPO</b></td>
                                    <td><b>DIRECCION</b></td>
                                    <td><b>ETIQUETA</b></td>
                                    <td><b>RED</b></td>
                                    <td><b>ACCIONES</b></td>
                                    <td><b>DETALLE</b></td>
                                    <td><b>AGREGAR RED</b></td>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% if object_list %}
                                {% for red in object_list %}
                                <tr>
                                    <td>{{forloop.counter }}</td>
                                    
                                    <td>{{ red.nombre }}</td>
                                    <td>{{ red.sigla }}</td>
                                    <td>{{ red.tipo }}</td>
                                    <td>{{ red.detalle }}</td>
                                    <td>
                                        
                                        
                                        {{ red.etiqueta }}


                                    </td>
                                
                                    <td>
                                        {% for redSecretaria in red.get_red_vigente %}
                                        {{ redSecretaria.red }} 
                                        <a class="btn  btn-sm  "   onclick=" abrir_modal_redsecretaria_eli('{% url 'redSecretaria_delete'  redSecretaria.id %}')" > <i class="fas fa-trash-alt small" style="font-size: 14px; color: red;"> </i></a><br>
                                        {% empty %}
                                        sin redes
                                        {% endfor %}
                                      </td>
                                   
                                    
                                 

                                    <td>
                                        <a class="btn   btn-sm"  onclick="abrir_modal_secretaria_edi('{% url 'secretariav_edit' red.id  %}')"> <i class="fa fa-edit small" style="font-size: 16px; color: darkslateblue;"> </i></a>
                                        <a class="btn  btn-sm"  onclick=" abrir_modal_secretaria_eli('{% url 'secretariav_delete'  red.id %}')" > <i class="fas fa-trash-alt small" style="font-size: 16px; color: firebrick ;"> </i></a>
                                        
                                        
                                    </td>

                                    <td>
                                
                                        <a class="no-ajaxy tm-btn btn-gray click-to-copy" href="{% url 'secretariav_detail_list' red.id  %}"> <i class="fa fa-eye"> </i></a>
                                        
                                        
                                    </td>

                                    <td>
                                        <a class="no-ajaxy tm-btn btn-gray click-to-copy"  onclick="abrir_modal_redsecretaria('{% url 'redSecretaria_crear' red.id %}')"> <i class="fa fa-plus " style="font-size: 16px; color: tomato;"> </i></a>
                                        <!--<a class="btn btn-primary  btn-sm"  onclick="abrir_modal_redsecretaria_edi('/principal/redSecretaria/editar/' + '{{ red.get_red_vigente.id}}') "> <i class="fa fa-edit "> </i></a>
                                        <a class="btn btn-primary btn-danger btn-sm"  onclick=" abrir_modal_redsecretaria_eli('/principal/redSecretaria/eliminar/' + '{{ red.get_red_vigente.id}} ')" > <i class="fas fa-trash-alt"> </i></a>
                                        -->
                                        
                                        
                                    </td>
                            
                                    
                                
                                </tr>
                                {% endfor %}
                                {% else %}
                                    

                                {% endif %}            

                            </tbody>

                        </table>

    
                    </div>
                    <!-- /.card-body -->

        
        </form>



        <div class="modal fade" id="secretariaedi" role="dialog"></div>
        <div class="modal fade" id="secretariaeli" role="dialog"></div>
        <div class="modal fade" id="redsecretaria" role="dialog"></div>
        <div class="modal fade" id="redsecretaria_eli" role="dialog"></div>
        
        <div class="modal fade" id="redsecretaria_edi" role="dialog"></div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
        

            <ul class="pager pagination pagination-sm m-0 float-right">
                <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
                <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
            </ul>
        </div>
    </div>

    </div>
    </div>
    </div>
    </div>

    </section>


    {% endblock %}

    
{% block extrajs %}

<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_secretaria_edi(url){
      $('#secretariaedi').load(url,function(){
          $(this).modal('show');
      });
    }

</script>


<script type="text/javascript">
    var $=jQuery.noConflict();
      function abrir_modal_secretaria_eli(url){
        $('#secretariaeli').load(url,function(){
            $(this).modal('show');
        });
      }
  
  </script>


<!-- RED SECRETARIA-->
<script type="text/javascript">
    var $=jQuery.noConflict();
      function abrir_modal_redsecretaria(url){
        $('#redsecretaria').load(url,function(){
            $(this).modal('show');
        });
      }
  
  </script>

<script type="text/javascript">
    var $=jQuery.noConflict();
      function abrir_modal_redsecretaria_eli(url){
        $('#redsecretaria_eli').load(url,function(){
            $(this).modal('show');
        });
      }
  
  </script>

<script type="text/javascript">
    var $=jQuery.noConflict();
      function abrir_modal_redsecretaria_edi(url){
        $('#redsecretaria_edi').load(url,function(){
            $(this).modal('show');
        });
      }
  
  </script>
  



{% endblock %}


