{% block content %}

<div class="modal-dialog modal-fade" role="document">
  <div class="modal-content" style="filter:alpha(opacity=30); opacity:0.94; background-color:  rgb(49, 64, 78);">
    <div class="modal-header" style="background-color: rgb(31, 38, 51);" >
      <h5 class="modal-title" style="text-align: center center;color: rgb(255, 255, 255);" >AGREGAR RED </h5>
      <button class="close" type="button" aria-dismiss="modal" data-dismiss="modal" area-label-="Close">
        <span aria-hidden="true">&times;</span>

      </button>

    </div>

      
                 <form  action="{% url 'redAreaT_crear' object.id %}" method="post">

                    {% csrf_token %}
        
                    {% for hidden in form.hidden_fields %}
                  
                        {{hidden}}
                  
                    {% endfor %}

                    <div class="modal-body">
                      

                      <div class="text_center">

                        <small class="text-danger">
                          {% if form.errors %}
                            {% for field in form %}
                            {% if field.errors %}
                              {% for error in field.errors %}
                                    {{ error|escape }}
                              {% endfor %}
                            {% endif %}
                            {% endfor %}
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                  {{ error|escape }}
                            {% endfor %}
                            {% endif %}

                          {% endif %}
                                

                        </small>

                      </div>
                


                    

                      <div class="form-group" style="display: none">
                        <label for="{{ form.area.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.area.label}}</label>
                              <br>
                            
                              <div class="col-sm-8">
                                {{form.area}}
    
                        </div>
                      </div>
    
                      
                      
                  
    
    
                      <div class="form-group" style="text-align: center center;color: rgb(255, 255, 255); ">
                        <label for="{{ form.red.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.red.label}}</label>
                        <br>
                    
                        <span class=" col-sm-10 no-ajaxy tmm-btn btn-grays click-to-copy " style="color: rgb(255, 255, 255)">
                          {{ form.red}}
                          </span>
                      </div>
    
                     
                      <div class="col-sm-10" style="display: none">
                        {{form.esta_vigente}}
    
                       </div>
                   
                 
    
             
                  
                

            
                      
                      
                    </div>
                    <!-- /.card-body -->
      
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" style="background-color:#00588e "><b>Enviar</b> </button>
                  </div>
                </form>
         
        </div>
      </div>


{% endblock %}
{% block selec2 %}


<script type="text/javascript">
    $(document).ready(function() {
              $('#red').select2({
                theme: "bootstrap4",
                
              });

    });
</script>
{% endblock %}


