{% extends 'base/home.html' %}

{% block content %}


<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8" style="margin: 0 auto;">
            <div class="card-footer clearfix">
            <!-- general form elements -->
            <div class="card card-primary" >
              <div class="card-header">
                <h3 class="card-title">Lista de Equipos del Usuario</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>perfil</td>
                                <td>equipos</td>
                                <td>FechaInicio</td>
                                <td>FechaFinal</td>
                                <td>relacion1</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if object_list %}
                            {% for relacion in object_list %}
                            <tr>
                                <td>{{ relacion.id }}</td>
                                <td>{{ relacion.perfil}}</td>
                                <td>{{ relacion.equipos }}</td>
                                <td>{{ relacion.FechaInicio }}</td>
                                <td>{{ relacion.FechaFinal }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="{% url 'relacion_edit' relacion.id %}"><i class="fa fa-edit "> </i>Editar</a>
                                    <a class="btn btn-primary btn-danger btn-sm" href="{% url 'relacion_delete' relacion.id %}"><i class="fas fa-trash-alt"> </i>Eliminar</a>
                                </td>
                            
                            </tr>
                            {% endfor %}
                            {% else %}
                                <h2>No hay Usuarios registrados con Equipos</h2>
                            {% endif %}            
                        </tbody>
                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>

    <div class="card-footer clearfix">
       

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
          </ul>
      </div>

</div>

</div>
</div>
</div>
</div>
<a class="btn btn-primary" href="{% url 'relacion_crear' %}">Crear Relacion</a>
</section>


{% endblock %}