{% load staticfiles %}
<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.0.0-pk
    </div>
    <strong>EscanerRed &copy; 2020-2021 <a href="">Gobernacion</a>.</strong> Bienvenidos.
  </footer>