{% load staticfiles %}
{% block contentwrapper %}

            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Layout</a></li>
            <li class="breadcrumb-item active">Collapsed Sidebar</li>


  {% endblock %}