
{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#perfildetailistar').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            });
        } );
</script>
{%  endblock %}
{% block content %}

<div class="modal-dialog modal-fade" role="document">
  <div class="modal-content" >
    <div class="modal-header" style="background-color: rgb(31, 38, 51);" >
      <h5 class="modal-title" style="text-align: center center;color: rgb(255, 255, 255);"> EQUIPOS  </h5>

      <button class="close" type="button" aria-dismiss="modal" data-dismiss="modal" area-label-="Close">
        <span aria-hidden="true">&times;</span>

      </button>

    </div>

      
                 <form  method="post">

                    {% csrf_token %}
        
                    {% for hidden in form.hidden_fields %}
                  
                        {{hidden}}
                  
                    {% endfor %}

                    <div class="modal-body">
                      

                      <div class="text_center">

                        <small class="text-danger">
                          {% if form.errors %}
                            {% for field in form %}
                            {% if field.errors %}
                              {% for error in field.errors %}
                                    {{ error|escape }}
                              {% endfor %}
                            {% endif %}
                            {% endfor %}
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                  {{ error|escape }}
                            {% endfor %}
                            {% endif %}

                          {% endif %}
                                

                        </small>

                      </div>
                
       
                       
                          <table class="table table-bordered table-striped" id="perfildetailistar">
                              <thead>
                                  <tr>
                                      <td><b>#</b> </td>
                                      <td><b>EQUIPO</b></td>
                                      <td><b>IP</b></td>
                                   
                                  </tr>
                              </thead>
                              <tbody>
                                  <h1>  </h1>
                                  {% if equipo_list %}
            
                                  {% for item in equipo_list %}
                                  <tr>
                                    <td>{{forloop.counter }}</td>
                                      
                                      <td>{{ item.equipos }}</td>
                                
                                      <td>{{ item.equipos.get_direccion_vigentes}}</td>
                                     
                                     
                                  </tr>
                                  {% endfor %}
                                  {% else %}
                                    
                                  {% endif %}            
                              </tbody>
                          </table>
            
            
                      <!-- /.card-body -->
            
             
   
            

                     

                    </div>
                    <!-- /.card-body -->
      
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
   
                  </div>
                </form>
         
        </div>
      </div>


{% endblock %}


