{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#equipo-list').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            });
        } );
</script>
{%  endblock %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'equipo_listar' %}">Equipos </a></li>
<li class="breadcrumb-item"><a href="{% url 'relacion_listar' %}">Equipos Red</a></li>
<li class="breadcrumb-item"><a href="{% url 'relacionPerfil_listar' %}">Equipos Usuario</a></li>
{% endblock %}

{% block content %}


<div class="col-md-12">
    <!-- Widget: user widget style 1 -->
    <div class="card card-widget widget-user shadow-lg">
      <!-- Add the bg color to the header using any of the bg-* classes     https://www.platinapartners.com/wp-content/uploads/2019/05/PortHead_Lighthouse01.jpg   -->
      <!-- Add the bg color to the header using any of the bg-* classes     https://www.argored.es/wp-content/uploads/2020/06/Copenhague-desde-el-aire-a-lo-largo-de-la-cuarentena-1500x400.jpg   -->
  
      <div class="widget-user-header  d-flex flex-column justify-content-center text-white   "  src="{% static 'img/photo1.png' %} " 
            style="background: url('https://www.tiz.fr/app/uploads/2019/11/agence-marketing-digital-1920x829.jpeg')center center; height:310px;text-align: center; ">
            <br>
           
            <div class="bg-black disabled color-palette"><span><h3 class="widget-user-username text-right  bg-light  color-palette "  style="justify-content: center;display: flex;align-items: center;">  <h2>  <b> <b> <b>EQUIPOS </b> </b>   </b></h2>  </h3></span></div>
            <h5 class="widget-user-desc text-right"><p></p> <p></p></h5>
        <br>
      </div>
  
  
     
  
      
      <div class="widget-user-image">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p></p>
          <p></p>
        <img class="img-circle" src="{% static 'img/gober.png' %}" alt="User Avatar">
      </div>
  
  
    </div>
    <!-- /.widget-user -->
  </div>


<section class="content">
    <div class="">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12" style="margin: 0 auto;">
            <div class="card-footer clearfix" >
          
            <!-- general form elements -->
            <div class="card card-primary"  >
              <div class="card-header" style="background-color:#343a40">
                <h3 class="card-title"> <b>REGISTRO DE EQUIPOS</b> </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">


                    <table class="table table-bordered table-striped" id="equipo-list">
                        <thead>
                            <tr>
                                <td><b>#</b> </td>
                                <td><b>NOMBRE</b></td>
                                <td><b>SISTEMA OPERATIVO</b></td>
                                <td><b>MAC</b></td>
                                <td><b>MAC 2</b></td>
                                <td><b>FECHA REGISTRO</b></td>
                             
                            
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if object_list %}
                            {% for equipo in object_list %}
                            <tr>
                                <td>{{forloop.counter }}</td>
                                <td>{{equipo.nombre_host}}</td>
                                <td>{{equipo.sistema_operativo}}</td>
                                <td>{{equipo.mac}}</td>
                                <td>{{equipo.mac1}}</td>
                                <td>{{equipo.fecha}}</td>
                                
                              
                               
                            </tr>
                            {% endfor %}
                            {% else %}
                               

                            {% endif %}            

                        </tbody>

                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>
    <div class="card-footer clearfix">
       

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
          </ul>
      </div>
</div>
</div>
</div>
</div>
</div>

</section>


{% endblock %}