
{% load staticfiles %}

{% block content %}

<div class="modal-dialog modal-fade" role="document">
  <div class="modal-content" >
    <div class="modal-header" style="background-color: rgb(31, 38, 51);" >
      <h5 class="modal-title" style="text-align: center center;color: rgb(255, 255, 255);">DETALLES DE EQUIPO </h5>

      <button class="close" type="button" aria-dismiss="modal" data-dismiss="modal" area-label-="Close">
        <span aria-hidden="true">&times;</span>

      </button>

    </div>

      
                 <form  method="post">

                    {% csrf_token %}
        
                    {% for hidden in form.hidden_fields %}
                  
                        {{hidden}}
                  
                    {% endfor %}

                    <div class="modal-body">
                      

                      <div class="text_center">

                        <small class="text-danger">
                          {% if form.errors %}
                            {% for field in form %}
                            {% if field.errors %}
                              {% for error in field.errors %}
                                    {{ error|escape }}
                              {% endfor %}
                            {% endif %}
                            {% endfor %}
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                  {{ error|escape }}
                            {% endfor %}
                            {% endif %}

                          {% endif %}
                                

                        </small>

                      </div>
                
                    <table>

                        <tr>
                            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">

                                <div class="form-group" >
                                    <label for="{{ form.area.id_for_label }}"
                                            class="col-xs-12 col-sm-12 col-md-12 control-label">NOMBRE DE EQUIPO</label>
                                    <br>
                                    <div class="col-sm-12">
                                            {{ object.nombre_host}}
                
                                    </div>
                                  </div>
                                
                                  <div class="form-group" >
                                    <label for="{{ form.esta_vigente.id_for_label }}"
                                            class="col-xs-12 col-sm-12 col-md-12 control-label">SISTEMA OPERATIVO</label>
                                          <br>
                                        
                                          <div class="col-sm-12">
                                            {{ object.sistema_operativo}}
                
                                    </div>
                                  </div>
            
                                  <div class="form-group" >
                                    <label for="{{ form.esta_vigente.id_for_label }}"
                                            class="col-xs-12 col-sm-12 col-md-12 control-label">DIRECCION MAC</label>
                                          <br>
                                        
                                          <div class="col-sm-12">
                                            {{ object.mac}}
                
                                    </div>
                                  </div>
            
                                  <div class="form-group" >
                                    <label for="{{ form.esta_vigente.id_for_label }}"
                                            class="col-xs-12 col-sm-12 col-md-12 control-label">DIRECCION MAC 2</label>
                                          <br>
                                        
                                          <div class="col-sm-12">
                                            {{ object.mac1}}
                
                                    </div>
                                  </div>
                            </td>

                            <td class=" col-xs-4 col-sm-4 col-md-4 col-lg-4   text-center">
                                <div class="widget-user-image">
                                  
                            
                                  <img class="img-circle" width="150" height="150" src="{% static 'img/gober.png' %}" alt="User Avatar">
                                </div>

                            </td>
                    
                         
                        </div>

                    </table>

                     
                
                  
                

            
                      
                      
                    </div>
                    <!-- /.card-body -->
      
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
   
                  </div>
                </form>
         
        </div>
      </div>


{% endblock %}


