{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#perfil-list-all').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
                
            });
        } );
</script>
{%  endblock %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'perfil_listar' %}">Usuarios Activos</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar_all' %}">Acciones</a></li>
{% endblock %}

{% block content %}

<div class="col-md-13" >
  <!-- Widget: user widget style 1 -->
  <div class="card card-widget widget-user shadow-lg" >
    <!-- Add the bg color to the header using any of the bg-* classes     https://www.platinapartners.com/wp-content/uploads/2019/05/PortHead_Lighthouse01.jpg   -->
    <!-- Add the bg color to the header using any of the bg-* classes     https://www.argored.es/wp-content/uploads/2020/06/Copenhague-desde-el-aire-a-lo-largo-de-la-cuarentena-1500x400.jpg    https://apliqa.es/wp-content/uploads/2016/09/7.jpg -->

    <div class="widget-user-header  d-flex flex-column justify-content-center "  src="{% static 'img/photo1.png' %} "
          style="background: url('https://www.tiz.fr/app/uploads/2019/11/agence-marketing-digital-1920x829.jpeg')center center; height:180px;text-align: center; ">
          <br>

          <div class="bg-light disabled color-palette"><span><h3 class="widget-user-username text-right  bg-light  color-palette "  style="justify-content: center;display: flex;align-items: center;">  <h3>  <b> FUNCIONARIOS   </b></h3>  </h3></span></div>
        
          <h5 class="widget-user-desc text-right"><p></p> <p></p></h5>
        

      <br>
    </div>


    <div class="widget-user-image">
        <br>
    
      <img class="img-circle" src="{% static 'img/user1.jpg' %}" alt="User Avatar">
    </div>
  
  </div>
  <!-- /.widget-user -->
</div>

<section class="content">

    <div class="container-fluid ">
        
      <div class="row">
          
        <!-- left column -->
        <div class="col-md-12" style="margin: 0 auto; ">
            <div class="card-danger clearfix">
           
           
          
            <!-- general form elements -->
            <div class="card card-danger" >
                
              <div class="card-header "style="background-color:#343a40 " >
                <h3 class="card-title"> <b> USUARIOS  REGISTRADOS</b></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="perfil-list-all">
                        <thead>
                            <tr style="text-align: center;">
                            
                                

                                    <td><b>#</b></td>
                                    <td> <b>NOMBRE </b> </td>
                                    <td><b>APELLIDO</b></td>
                                    <td><b>CI</b></td>
                                    <td><b>CORREO ELECTRONICO</b></td>
                                    <td><b>ACCIONES</b></td>

                                
                                
                    
                                
                            </tr>
                        </thead>
                        <tbody>

                            {% if object_list %}
                            {% for perfil in object_list %}
                         
                            
                            <tr>
                                <td>{{forloop.counter }}</td>
                                <td>{{ perfil.apellido }}</td>
                                <td>{{ perfil.nombre }}</td>
                                <td>{{ perfil.correo }}</td>
                                <td>{{ perfil.ci }}</td>
                                <td>
                           
                                    <a class="btn btn-sm"  onclick="abrir_modal_perfil_edi('{% url 'perfil_editD'  perfil.id %}')"> <i class="fa fa-edit small" style="font-size: 16px; color: darkslateblue;"> </i></a>
                                    <a class="btn  btn-sm"  onclick="abrir_modal_perfil_eli('{% url 'perfil_deleteD'  perfil.id %}')"> <i class="fas fa-trash-alt small" style="font-size: 16px; color: firebrick ;"> </i></a>
                                    
                                
                                   
                                </td>
                             


                            
                            </tr>
                            {% endfor %}
                            {% else %}
                             

                            {% endif %}            

                        </tbody>

                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>


    <div class="modal fade" id="perfil_eli" role="dialog"></div>
    
    <div class="modal fade" id="perfil_edi" role="dialog"></div>

    <!-- /.card-body -->
    <div class="card-footer clearfix">
       

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
          </ul>
      </div>
</div>
</div>
</div>
</div>
</div>


</section>


{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_perfil_eli(url){
      $('#perfil_eli').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

<script type="text/javascript">
    var $=jQuery.noConflict();
      function abrir_modal_perfil_edi(url){
        $('#perfil_edi').load(url,function(){
            $(this).modal('show');
        });
      }
  
  </script>



{% endblock %}


