
{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#perfil-detail-listar').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            });
        } );
</script>
{%  endblock %}

{% block contenturl %}

<li class="breadcrumb-item"><a href="{% url 'perfil_listar' %}">Usuarios Activos</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar_all' %}">Acciones</a></li>
{% endblock %}

{% block content %}

            <div class="col-md-13" >
              <!-- Widget: user widget style 1 -->
              <div class="card card-widget widget-user shadow-lg" >
                <!-- Add the bg color to the header using any of the bg-* classes     https://www.platinapartners.com/wp-content/uploads/2019/05/PortHead_Lighthouse01.jpg   -->
                <!-- Add the bg color to the header using any of the bg-* classes     https://www.argored.es/wp-content/uploads/2020/06/Copenhague-desde-el-aire-a-lo-largo-de-la-cuarentena-1500x400.jpg    https://apliqa.es/wp-content/uploads/2016/09/7.jpg -->

                <div class="widget-user-header  d-flex flex-column justify-content-center "  src="{% static 'img/photo1.png' %} "
                      style="background: url('https://fundacioncajaruralburgos.es/wp-content/uploads/2020/06/fundacion-caja-rural-burgos-emprender-tiempos-dificiles-1500x500.jpg')center center; height:200px;text-align: center; ">
                      <br>

                      <div class="bg-light disabled color-palette"><span><h3 class="widget-user-username text-right  bg-light  color-palette "  style="justify-content: center;display: flex;align-items: center;">  <h2>  <b> {{ object.apellido }}  {{ object.nombre }}  </b></h2>  </h3></span></div>
                    
                      <h5 class="widget-user-desc text-right"><p></p> <p></p></h5>
                    

                  <br>
                </div>


                <div class="widget-user-image">
                    <br>
                    <br>
                    <br>
                    <p></p>
                  <img class="img-circle" src="{% static 'img/user1.jpg' %}" alt="User Avatar">
                </div>
                <div class="card-footer ">
                  <div class="row">
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header">CI</h5>
                        <span class="description-text">{{ object.ci }}</span>
                      </div>
                      <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header"> CORREO ELECTRONICO</h5>
                        <span class="description-text">{{ object.correo }}</span>
                      </div>
                      <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                      <div class="description-block">
                        <h5 class="description-header">CARGO</h5>
                        <span class="description-text">{{ object.cargo }}</span>
                      </div>
                      <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
              </div>
              <!-- /.widget-user -->
            </div>

            <div class="card-header p-0 pt-1" style="background-color:#343a40 "></div>
<br>
              <div class="row parter" style="margin: 0 auto; align-content: center; justify-content: center;" >
                <div class="col-lg-4 ">
                  <div class="input-group">
               

                    <button class="no-ajaxy tm-btn btn-gray click-to-copy"     
                    onclick=" abrir_modal_edicion('{% url 'pefilEI_crear'  object.id %}')">
                    <span class="fa fa-plus"></span>
                      <i class="fa">
                        <b> EQUIPO  </b>
                      </i> 
                    </button>

                  </div>
                </div>
               <p></p>
                    <div class="col-lg-4">
                      <div class="input-group">
                        <div class="col-sm-4 border-right" >
                          
                        </div>
                      </div>
                    </div>
                    
                <div class="col-lg-4">
                  <div class="input-group">
                   
                  </div>
                </div>

              </div>
        <form>
            <div class="card-body">
              <table class="table table-bordered table-striped" id="perfil-detail-listar">
                  <thead>
                      <tr>
                          <td><b>#</b> </td>
                          <td><b>EQUIPO</b></td>
                          <td><b>IP</b></td>
                          <td><b>ACCIONES</b></td>
                          <td><b>DETALLE</b></td>
                      </tr>
                  </thead>
                  <tbody>
                      <h1>  </h1>
                      {% if equipo_list %}

                      {% for item in equipo_list%}
                      <tr>
                        <td>{{forloop.counter }}</td>
                          
                          <td>{{ item.equipos }}</td>
                    
                          <td>{{ item.equipos.get_direccion_vigentes}}</td>
                         
                         
                          <td>
                             
                              
                              <a class="btn btn-sm"  onclick="abrir_modal_perfildetail_eli('{% url 'relacionPerfil_delete'  item.id %}')"> <i class="fas fa-trash-alt small" style="font-size: 16px; color: firebrick ;" > </i></a>

                      
                          </td>
                          <td>

                          
                            <a class="no-ajaxy tm-btn btn-gray click-to-copy"  onclick="abrir_modal_equipod('{% url 'equipo_detail_list'   item.equipos.id %}')"> <i class="fas fa-laptop " style="font-size: 16px; color: darkslateblue;"> </i></a>
                             
                          </td>
                      
                      </tr>
                      {% endfor %}
                      {% else %}
                        
                      {% endif %}            
                  </tbody>
              </table>


          </div>
          <!-- /.card-body -->

 
    </form>


           
        <div class="modal fade" id="edicion" role="dialog">
        </div>

  

        <div class="modal fade" id="perfildetail" role="dialog">
        </div>


        <div class="modal fade" id="perfildetail_eli" role="dialog">
        </div>

        <div class="modal fade" id="equipo_detail" role="dialog">
        </div>


    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
        </ul>
    </div>


{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_edicion(url){
      $('#edicion').load(url,function(){
          $(this).modal('show');
      });
    }

</script>




<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_perfildetail(url){
      $('#perfildetail').load(url,function(){
          $(this).modal('show');
      });
    }

</script>



<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_perfildetail_eli(url){
      $('#perfildetail_eli').load(url,function(){
          $(this).modal('show');
      });
    }

</script>


<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_equipod(url){
      $('#equipo_detail').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

{% endblock %}