
{% block content %}




<div class="modal-dialog modal-fade" role="document">
  <div class="modal-content">
    <div class="modal-header" style="background-color: rgb(31, 38, 51);" >
      <h5 class="modal-title" style="text-align: center center;color: rgb(255, 255, 255);">EDITAR PERFIL  </h5>

      <button class="close" type="button" aria-dismiss="modal" data-dismiss="modal" area-label-="Close">
        <span aria-hidden="true">&times;</span>

      </button>

    </div>

      
                 <form action="{% url 'perfil_editT' object.id %}" method="post">

                    {% csrf_token %}
        
                    {% for hidden in form.hidden_fields %}
                  
                        {{hidden}}
                  
                    {% endfor %}

                    <div class="modal-body">
                      
               
                      <div class="text_center">

                        <small class="text-danger">
                          {% if form.errors %}
                            {% for field in form %}
                            {% if field.errors %}
                              {% for error in field.errors %}
                                    {{ error|escape }}
                              {% endfor %}
                            {% endif %}
                            {% endfor %}
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                  {{ error|escape }}
                            {% endfor %}
                            {% endif %}

                          {% endif %}
                                

                        </small>

                      </div>
                
                    
                 
                      <div class="form-group">
                        <label for="{{ form.nombre.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.nombre.label}}</label>
                              <br>
                            
                              <div class="col-sm-12">
                                {{form.nombre}}
    
                        </div>
                      </div>
    
                      <div class="form-group">
                        <label for="{{ form.apellido.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.apellido.label}}</label>
                        <div class="col-sm-12">
                                {{form.apellido}}
                        </div>
                      </div>
    
                      <div class="form-group">
                        <label for="{{ form.ci.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.ci.label}}</label>
                        <br>
                        <div class="col-sm-12">
                                {{form.ci}}
    
                        </div>
                      </div>
    
                      <div class="form-group">
                        <label for="{{ form.correo.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.correo.label}}</label>
                        <div class="col-sm-12">
                                {{form.correo}}
                        </div>
                      </div>

                      

                    
                  
                  
                

            
                      
                      
                    </div>
                    <!-- /.card-body -->
      
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" style="background-color:#00588e "><b>Enviar</b> </button>
                  </div>
                </form>
         
        </div>
      </div>


{% endblock %}
{% block selec2 %}


<script type="text/javascript">
    $(document).ready(function() {
              $('#equipos').select2({
                theme: "bootstrap4",
                
              });

    });
</script>
{% endblock %}




