{% block content %}

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div >
      <div class="card-header" style="background-color:#00588e">
        <p></p>
        <h2 class="card-title" style="color: beige;"  > <b>AGREGAR NUEVO USUARIO</b>  </h2>
      
      <button class="close" type="button" aria-dismiss="modal" data-dismiss="modal" area-label-="Close">
        <span aria-hidden="true">&times;</span>

      </button>
    </div>
    </div>
          
              <!-- left column -->
            
                <div class="card-footer clearfix">
                  <!-- general form elements -->
                  <div class="card card-primary" >
                
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="{% url 'perfil_crear' %}" method="post">

                      {% csrf_token %}
        
                      {% for hidden in form.hidden_fields %}
                    
                          {{hidden}}
                    
                      {% endfor %}


                      <div class="text_center">
                        
                        <small class="text-danger">
                          {% if form.errors %}
                            {% for field in form %}
                            {% if field.errors %}
                              {% for error in field.errors %}
                                    {{ error|escape }}
                              {% endfor %}
                            {% endif %}
                            {% endfor %}
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                   {{ error|escape }}
                            {% endfor %}
                            {% endif %}
    
                          {% endif %}
                                
    
                        </small>
    
                      </div> 

                      <div class="modal-body">
                      
                 
                        
      
                       
      
                        <br>
      
                        
                  <div class="form-group">
                    <label for="{{ form.nombre.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.nombre.label}}</label>
                          <br>
                        
                          <div class="col-sm-12">
                            {{form.nombre}}

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="{{ form.apellido.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.apellido.label}}</label>
                    <div class="col-sm-12">
                            {{form.apellido}}
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="{{ form.ci.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.ci.label}}</label>
                    <br>
                    <div class="col-sm-12">
                            {{form.ci}}

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="{{ form.correo.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.correo.label}}</label>
                    <div class="col-sm-12">
                            {{form.correo}}
                    </div>
                  </div>
      
    

                    <div class="modal-footer">
    
     
                      <button type="submit" class="btn btn-primary" style="background-color:#00588e">Enviar</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                 
                    </div>


                    
                  </form>
                </div>
        

  </div>

</div>



{% endblock %}




