{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#perfil-list').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            });
        } );
</script>
{%  endblock %}



{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'perfil_listar' %}">Usuarios Activos</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar_all' %}">Acciones</a></li>
{% endblock %}

{% block content %}


<div class="col-md-12">
  <!-- Widget: user widget style 1 -->
  <div class="card card-widget widget-user shadow-lg">
    <!-- Add the bg color to the header using any of the bg-* classes     https://www.platinapartners.com/wp-content/uploads/2019/05/PortHead_Lighthouse01.jpg   -->
    <!-- Add the bg color to the header using any of the bg-* classes     https://www.argored.es/wp-content/uploads/2020/06/Copenhague-desde-el-aire-a-lo-largo-de-la-cuarentena-1500x400.jpg   -->

    <div class="widget-user-header  d-flex flex-column justify-content-center text-white   "  src="{% static 'img/photo1.png' %} " 
          style="background: url('https://economia-empresa.blogs.uoc.edu/wp-content/uploads/sites/152/2018/03/planning-2899922_1920-1024x433.jpg')center center; height:310px;text-align: center; ">
          <br>
         
          <div class="bg-black disabled color-palette"><span><h3 class="widget-user-username text-right  bg-light  color-palette "  style="justify-content: center;display: flex;align-items: center;">  <h2>  <b> <b> <b>FUNCIONARIOS</b> </b>   </b></h2>  </h3></span></div>
          <h5 class="widget-user-desc text-right"><p></p> <p></p></h5>
      <br>
    </div>


   

    
    <div class="widget-user-image">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p></p>
        <p></p>
      <img class="img-circle" src="{% static 'img/gober.png' %}" alt="User Avatar">
    </div>


  </div>
  <!-- /.widget-user -->
</div>


<section class="content">

    <div class="">
        
      <div class="row">
          
        <!-- left column -->
        <div class="col-md-12" style="margin: 0 auto;">
            <div class="card-footer clearfix">

          
            <!-- general form elements -->
            <div class="card card-primary" >
                
              <div class="card-header" style="background-color:#313f47 ">
                <h3 class="card-title"  > <b>FUNCIONARIOS REGISTRADOS</b> </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="perfil-list">
                        <thead>
                            <tr>
                                <td><b>#</b> </td>
                                <td><b>APELLIDO</b></td>
                                <td><b>NOMBRE</b></td>
                                <td><b>CI</b></td>
                                <td><b>EQUIPO</b></td>
                                <td><b>DETALLE</b></td>
                    
                                
                            </tr>
                        </thead>
                        <tbody>

                            {% if object_list %}
                            {% for perfil in object_list %}
                         
                            
                            <tr>
                                <td>{{forloop.counter }}</td>
                                <td>{{ perfil.apellido }}</td>
                                <td>{{ perfil.nombre }}</td>
                                
                                <td>{{ perfil.ci }}</td>
                                <td>
                                   
                                    
                                    <a class="btn  btn-sm"  onclick="abrir_modal_perfilEI_crear('{% url 'pefilEI_crear'  perfil.id %}')"> <i class="fa fa-plus " style="font-size: 16px; color: tomato;"> </i></a>
                                </td>

                                <td>
                                    <a class="no-ajaxy tm-btn btn-gray click-to-copy" href="{% url 'perfil_detail_list' perfil.id  %}"> <i class="fa fa-eye " style="font-size: 16px; color: darkslateblue;"> </i></a>
                                    
                                    <a class="btn b btn-sm"  onclick="abrir_modal_perfilEI_view('{% url 'perfil_detail_list_view'  perfil.id %}')"> <i class="fas fa-laptop "> </i></a>
                                </td>


                            
                            </tr>
                            {% endfor %}
                            {% else %}
                               

                            {% endif %}            

                        </tbody>

                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>

    <div class="modal fade" id="perfilEI_crear" role="dialog"></div>
    
    <div class="modal fade" id="abrir_modal_perfilEI_view" role="dialog"></div>
    
    <div class="modal fade" id="perfil_crear" role="dialog"></div>

    <!-- /.card-body -->
    <div class="card-footer clearfix">
       

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
          </ul>
      </div>
</div>
</div>
</div>
</div>
</div>


</section>


{% endblock %}


{% block extrajs %}
<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_perfilEI_crear(url){
      $('#perfilEI_crear').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

<script type="text/javascript">
    var $=jQuery.noConflict();
      function abrir_modal_perfilEI_view(url){
        $('#abrir_modal_perfilEI_view').load(url,function(){
            $(this).modal('show');
        });
      }
  
  </script>


<script type="text/javascript">
    var $=jQuery.noConflict();
      function abrir_modal_perfil_crear(url){
        $('#perfil_crear').load(url,function(){
            $(this).modal('show');
        });
      }
  
  </script>

{% endblock %}
