{% extends 'base/home.html' %}

{% block content %}


<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8" style="margin: 0 auto;">
  
            <!-- general form elements -->
            <div class="card card-primary" >
              <div class="card-header">
                <h3 class="card-title">Lista de Usuarios y Equipos</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>perfil</td>
                                <td>equipos</td>
                                <td>FechaInicio</td>
                                <td>FechaFinal</td>
                                <td>Opciones</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if object_list %}
                            {% for relacion in object_list %}
                            <tr>
                                <td>{{ relacion.id }}</td>
                                <td>{{ relacion.perfil}}</td>
                                <td>{{ relacion.equipos }}</td>
                                <td>{{ relacion.FechaInicio }}</td>
                                <td>{{ relacion.FechaFinal }}</td>
                                <td>



                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" onclick="selPerfil">Open modal for @mdo</button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <form >
                                                <div class="form-group">
                                                  <label for="recipient-name" class="col-form-label">{{ relacion.id }}</label>
                                                  <input type="text" class="form-control" id="recipient-name">
                                                </div>
                                                <div class="form-group">
                                                  <label for="message-text" class="col-form-label">Message:</label>
                                                  <textarea class="form-control" id="message-text"></textarea>
                                                </div>
                                              </form>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                              <button type="button" class="btn btn-primary">Send message</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    





                                   
                                    
                                    
                                
                                </td>
                            
                            </tr>
                            {% endfor %}
                            {% else %}
                                <h1>no hay direcciones ip</h1>
                            {% endif %}            
                        </tbody>
                    </table>

  
                </div>
                <!-- /.card-body -->

       

                
                 </form>


            </div>

        </div>

        <div class="card card-row card-primary">
            <div class="card-header">
              <h3 class="card-title">
                To Do
              </h3>
            </div>
            <div class="card-body">
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h5 class="card-title">Create first milestone</h5>
                  <div class="card-tools">
                    <a href="#" class="btn btn-tool btn-link">#5</a>
                    <a href="#" class="btn btn-tool">
                      <i class="fas fa-pen"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<a class="btn btn-primary" href="{% url 'relacion_crear' %}">Crear Relacion</a>
</section>





{% endblock %}