{% extends 'base/home.html' %}


{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'red_crear' %}">Registrar Red</a></li>
<li class="breadcrumb-item"><a href="{% url 'red_listar' %}">Redes Activas</a></li>
{% endblock %}

{% block content %}





<form method="post">
  {% csrf_token %}
  
  {% for hidden in form.hidden_fields %}

      {{hidden}}

  {% endfor %}



  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8" style="margin: 0 auto;">
          <div class="card-footer clearfix">
            <!-- general form elements -->
            <div class="card card-primary" >
              <div class="card-header" style="background-color:#00588e">
                <h2 class="card-title"> <b>Agregar Secretaria en Infraestructura</b>  </h2>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  

                  <div class="text_center">
                  
                    <small class="text-danger">
                      {% if form.errors %}
                        {% for field in form %}
                        {% if field.errors %}
                          {% for error in field.errors %}
                                {{ error|escape }}
                          {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                               {{ error|escape }}
                        {% endfor %}
                        {% endif %}

                      {% endif %}
                            

                    </small>

                  </div> 

                  <br>


                  <div class="form-group">
                    <label for="{{ form.infraestructura.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.infraestructura.label}}</label>
                    
                      <div class="col-sm-12 input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <input type="radio"> <h6> </h6> 
                          </span>
                          
                        </div>
                        
                            {{form.infraestructura}}
                    </div>
                  </div>

                  
                  <div class="form-group">
                    <label for="{{ form.secretaria.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.secretaria.label}}</label>
                          <br>
                        
                          <div class="col-sm-12 input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <input type="radio"> <h6> </h6> 
                              </span>
                              
                            </div>
                            
                            {{form.secretaria}}

                    </div>
                  </div>

                  


                  
                </div>
                <!-- /.card-body -->
  
              <div class="card-footer">
                <button type="submit" class="btn btn-primary" style="background-color:#00588e">Enviar</button>
              </div>
            </form>
          </div>
  
  </div>
  </div>
  </div>
  </div>
  </section>


</form>



{% endblock %}


{% block selec2 %}


<script type="text/javascript">
    $(document).ready(function() {
              $('#id_direccion').select2({
                theme: "bootstrap4",
                
              });

    });
</script>
{% endblock %}










