{% load staticfiles %}
{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#unidad-area-listar').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            
            });
        } );



        
</script>

{%  endblock %}

{% block content %}
´

<div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content" style="filter:alpha(opacity=30); opacity:0.95; background-color:  rgb(246, 250, 255);">
        <div class="modal-header" style="background-color: rgb(31, 38, 51);" >
            <h5 class="modal-title" style="text-align: center center;color: rgb(255, 255, 255);">AREAS : </h5>
      
            <button class="close" type="button" aria-dismiss="modal" data-dismiss="modal" area-label-="Close">
              <span aria-hidden="true">&times;</span>
      
            </button>
      
          </div>
  
      <form>
        <div class="card-body">
            <table class="table table-bordered table-striped" id="unidad-area-listar">
                <thead>
                    <tr>
                        <td><b>#</b> </td>
                        <td><b>nombre</b></td>
                        <td><b>sigla</b></td>
                        <td><b>tipo</b></td>
                      
            
                        
                    </tr>
                </thead>
                <tbody>

                    {% if areas_list %}
                    {% for item in areas_list %}
                 
                    
                    <tr>
                        <td>{{forloop.counter }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.sigla }}</td>
                        <td>{{ item.tipo }}</td>
                    
                
                    </tr>
                    {% endfor %}
           

                    {% endif %}            

                </tbody>

            </table>


        </div>
        <!-- /.card-body -->


      </form>
     
           
          </div>
        </div>









{% endblock %}
