

{% load staticfiles %}



{% block content %}



<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">AGREGAR FUNCIONARIO UNIDAD</h2>
        <button class="close" type="button" aria-dismiss="modal" data-dismiss="modal" area-label-="Close">
          <span aria-hidden="true">&times;</span>
  
        </button>
  
      </div>
  
        
      <form method="post" action="{% url 'unidadvPerfil_crear' unidad.id %}">
        {% csrf_token %}

        {% if form.errors %}
            {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                        {{ error|escape }}
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

        {% endif %}

 
          
  

   
            
              <!-- we are adding the accordion ID so Bootstrap's collapse plugin detects it -->
              <div id="accordion" >

                <div class="card card-danger" >
                 
                    
                      <a class="d-block w-10" data-toggle="collapse" href="#collapseTwo">
                        unidad
                      </a>
                   
                
                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                     
                        <div>
            

                            {{ form.as_p}}
                           
                
                          </div>

                    </div>
                  </div>
                </div>
              </div>
       
            <!-- /.card-body -->
   





          <div class="col-12 col-sm-12">
            <div class="card card-primary card-tabs">
              <div class="card-header p-0 pt-1" style="background-color:#343a40 ">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">FUNCIONARIO</a>
                  </li>

               
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">

                  <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                    <div class="tab-custom-content">
                      <p class="lead mb-0"></p>
                      <br>

                    </div>

                    <div class="text_center">


                    {{ form2.as_p}}
        

                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>

          </div>

       

          <div class="card-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" style="background-color:#00588e "><b>Enviar</b> </button>
          </div>

    </form>


          </div>
        </div>













{% endblock %}