{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#perfil-detail-listar').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            });
        } );



        
</script>

<script>
  $(document).ready( function () {
      $('#area-detail-listar').DataTable({
          responsive: true,
          autoWidth: false,
          language:{
              url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
          }
      });
  } );
</script>


<script>
  $(document).ready( function () {
      $('#funci-detail-listar').DataTable({
          responsive: true,
          autoWidth: false,
          language:{
              url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
          }
      });
  } );
</script>
{%  endblock %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'perfil_crear' %}">Registrar Usuario</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar' %}">Usuarios Activos</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar_all' %}">Acciones</a></li>
{% endblock %}

{% block content %}

<div class="col-md-13" >
  <!-- Widget: user widget style 1 -->
  <div class="card card-widget widget-user shadow-lg" >
    <!-- Add the bg color to the header using any of the bg-* classes     https://www.platinapartners.com/wp-content/uploads/2019/05/PortHead_Lighthouse01.jpg   -->
    <!-- Add the bg color to the header using any of the bg-* classes     https://www.argored.es/wp-content/uploads/2020/06/Copenhague-desde-el-aire-a-lo-largo-de-la-cuarentena-1500x400.jpg    https://apliqa.es/wp-content/uploads/2016/09/7.jpg -->

    <div class="widget-user-header  d-flex flex-column justify-content-center "  src="{% static 'img/photo1.png' %} "
          style="background: url('https://media.audleytravel.com/-/media/images/home/south-america/bolivia/places/530944412_potosi_skyline_3000x1000.jpg?q=79&w=1920&h=640')center center; height:200px;text-align: center; ">
          <br>

          <div class="bg-light disabled color-palette"><span><h3 class="widget-user-username text-right  bg-light  color-palette "  style="justify-content: center;display: flex;align-items: center;">  <h2>  <b> {{ object.nombre }}  </b></h2>  </h3></span></div>
         
          <h5 class="widget-user-desc text-right"><p></p> <p></p></h5>
        

      <br>
    </div>




    
    <div class="widget-user-image">
        <br>
        <br>
        <br>
        <p></p>
      <img class="img-circle" src="{% static 'img/gober.png' %}" alt="User Avatar">
    </div>
    <div class="card-footer ">
      <div class="row">
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header">SIGLA</h5>
            <span class="description-text">{{ object.sigla }}</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header"> TIPO</h5>
            <span class="description-text">{{ object.tipo }}</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4">
          <div class="description-block">
            <h5 class="description-header">ETIQUETA</h5>
            <span class="description-text">{{ object.etiqueta }}</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.widget-user -->
</div>




<section class="content" >

    <div class="" >
        
      <div class="row" >
          
        <!-- left column -->
        <div class="col-md-12" style="margin: 0 auto; ">
           
              <div class="card-dark card-outline" style="background-color:#343a40 ">
            
              </div>
              <!-- /.card-header -->
              <!-- form start      ../../../static/lib/adminlte-3.1.0/img/photo1.png   #343a40 -->
            <br>

              <div class="row parter" style="background: url('https://i0.wp.com/www.noticiasbelgrano.com/wp-content/uploads/2017/05/fondo-web-blanco.jpg')center center;margin: 0 auto; align-content: center center; justify-content: center center; text-align: center;" >
                <div class="col-lg-4 ">
                  <div class="input-group">
            
                    
                    <button class="no-ajaxy tm-btn btn-gray click-to-copy"     
                            onclick=" abrir_modal_area('{% url 'unidadareav_crear'  object.id %}')">
                            <span class="fa fa-plus"></span>
                              <i class="fa">
                                <b> AREA  </b>
                              </i> 
                    </button>
                
                  </div>
              
                </div>
               <p></p>
                    <div class="col-lg-4">
                      <div class="input-group">
                        <button class="no-ajaxy tm-btn btn-gray click-to-copy"  
                              
                        onclick=" abrir_modal_funcionarios('{% url 'pefilUnidad_crear'  object.id %}')"> 
                        <span class="fa fa-plus"></span>
                        <i class="fa">
                          <b> FUNCIONARIO </b>
                        </i>
                         </button>

                      </div>
                    </div>
                    
                <div class="col-lg-4">
                  <div class="input-group">
              

                      
                   
                    </div>
                    </div>

                
                    

              </div>
     
              <br>




                 
            <div style="clear:both"></div>






      
              <div class="col-12 col-sm-12">
                <div class="card card-primary card-tabs">
                  <div class="card-header p-0 pt-1" style="background-color:#343a40 ">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">AREAS</a>
                      </li>
                  
                   
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content" id="custom-tabs-one-tabContent">

                      <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                        <div class="tab-custom-content">
                          <p class="lead mb-0">AREAS DE LA {{ object.nombre }} </p>
                        </div>
                        <form>
                          <div class="card-body">
                            <table class="table table-bordered table-striped" id="perfil-detail-listar">
                                <thead>
                                    <tr>
                                        <td><b>#</b> </td>
                                        <td><b>UNIDADES</b></td>
                                        <td><b>SIGLA</b></td>
                                        <td><b>TIPO</b></td>
                                        <td><b>ETIQUETA</b></td>
                                        <td><b>REDES</b></td>

                                        <td><b>ACCIONES</b></td>
                                        <td><b> DETALLES </b></td>
                                        <td><b>RED</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <h1>  </h1>
                                    {% if areas_list %}
              
                                    {% for item in areas_list %}
                                    <tr>
                                        <td>{{forloop.counter }}</td>
                                        <td>{{ item.nombre }}</td>
                                        <td>{{ item.sigla}}</td>
                                        <td>{{ item.tipo }}</td>
                                        <td>{{ item.etiqueta }}</td>
                                        <td>
                                          {% for redArea in item.get_red_vigente %}
                                          {{ redArea.red }} 
                                          <a class="btn  btn-sm " onclick=" abrir_modal_redArea_eli('{% url 'redArea_delete'  redArea.id %}')" > <i class="fas fa-trash-alt small" style="font-size: 14px; color: red;"> </i></a><br>
                                          {% empty %}
                                          sin redes
                                          {% endfor %}
                                        </td>
                                        <td>
                                          <a class="btn btn-sm btn-xs"  onclick="abrir_modal_area_edi('{% url 'areaUni_edit'  item.id %}')"> <i class="fa fa-edit small" style="font-size: 16px; color: darkslateblue;"> </i></a>
                                          
                                          <a class="btn btn-sm btn-xs"  onclick=" abrir_modal_area_eli('{% url 'areav_deleteT'  item.id %}')" > <i class="fas fa-trash-alt small" style="font-size: 16px; color: firebrick ;"> </i></a>
                            
                                         
                                        </td>

                                        <td>
                                          <a class="no-ajaxy tm-btn btn-gray click-to-copy" href="{% url 'areavUnid_detail_list' item.id  %}"> <i class="fa fa-eye"> </i></a>
                           
                                          
                                        </td>


                                        <td>
                                          <a class="btn   btn-sm" onclick=" abrir_modal_RedArea_crear('{% url 'redAreaT_crear'  item.id %}')" > <i class="fa fa-plus " style="font-size: 16px; color: tomato;"> </i></a>
                                        </td>
                                    
                                    </tr>
                                    {% endfor %}
                              
                                      
                                    {% endif %}            
                                </tbody>
                            </table>
              
              
                          </div>
                        <!-- /.card-body -->
              
                        </form>  
                       
              
                      </div>

  
                
                    </div>
                  </div>
                  <!-- /.card -->
                </div>
              </div>

      
  
              <div class="col-12 col-sm-12">
                <div class="card card-primary card-tabs">
                  <div class="card-header p-0 pt-1" style="background-color:#343a40 ">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">FUNCIONARIOS</a>
                      </li>

                   
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content" id="custom-tabs-one-tabContent">

                      <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                        <div class="tab-custom-content">
                          <p class="lead mb-0">FUNCIONARIOS DE LA {{ object.nombre }} </p>
                        </div>



                        <form>
                          <div class="card-body">
                            <table class="table table-bordered table-striped" id="funci-detail-listar">
                                <thead>
                                    <tr>
                                        <td><b>#</b> </td>
                                        <td><b>NOMBRE</b></td>
                                        <td><b>APELLIDO</b></td>
                                        <td><b>CI</b></td>
                                        <td><b>CORREO</b></td>
                                        <td><b>CARGO</b></td>
                                        <td><b>EQUIPO</b></td>
                               
                                        <td><b>ACCIONES</b></td>
                                        <td><b>DETALLES</b></td>
                                   
                                    </tr>
                                </thead>
                                <tbody>
                                    <h1>  </h1>
                                    {% if perfil_list %}
              
                                    {% for item in perfil_list %}
                                    <tr>
                                        <td>{{forloop.counter }}</td>
                                        <td>{{ item.nombre }}</td>
                                        <td>{{ item.apellido}}</td>
                                        <td>{{ item.ci }}</td>
                                        <td>{{ item.correo }}</td>
                                        <td>{{ item.cargo }}</td>
                                        <td>
                                          <a class="no-ajaxy tm-btn btn-gray click-to-copy"  onclick="abrir_modal_equipo_view('{% url 'equipo_detailv_list'  item.id %}')"> <i class="fa fa-eye  " style="font-size: 16px; color: darkslateblue;"> </i></a>
                                        </td>
                                   

                                        <td>
                                          <a class="btn  btn-sm"  onclick="abrir_modal_perfil_edi('{% url 'perfil_editT'  item.id %}')"> <i class="fa fa-edit small " style="font-size: 16px; color: darkslateblue;"> </i></a>
                                          <a class="btn  btn-sm"  onclick=" abrir_modal_perfil_eli('{% url 'perfil_delete'  item.id %}')" > <i class="fas fa-trash-alt small" style="font-size: 16px; color: firebrick ;"> </i></a>
                             
                                        </td>
                                        <td>

                                          <a class="no-ajaxy tm-btn btn-gray click-to-copy" href="{% url 'perfil_detail_list' item.id  %}"> <i class="fa fa-eye "> </i></a>
                           
                                        </td>

                                    
                                    </tr>
                                    {% endfor %}
                              
                                      
                                    {% endif %}            
                                </tbody>
                            </table>
              
              
                          </div>
                        <!-- /.card-body -->
              
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- /.card -->
                </div>
              </div>



           
                <div class="modal fade" id="area" role="dialog"></div>
          

                <div class="modal fade" id="funcionarios" role="dialog"></div>
        
                
                <div class="modal fade" id="areaeli" role="dialog"></div>
                <div class="modal fade" id="areaedi" role="dialog"></div>
                
                <div class="modal fade" id="redareaeli" role="dialog"></div>
                
                <div class="modal fade" id="redarea" role="dialog"></div>
                
                <div class="modal fade" id="perfiledi" role="dialog"></div>
                <div class="modal fade" id="perfileli" role="dialog"></div>
                <div class="modal fade" id="perfilequ" role="dialog"></div>




                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                      

                        <ul class="pager pagination pagination-sm m-0 float-right">
                            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
                            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
                          </ul>
                      </div>


  </div>
  </div>
  </div>


</section>


{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_area(url){
      $('#area').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_funcionarios(url){
      $('#funcionarios').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_area_edi(url){
      $('#areaedi').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_area_eli(url){
      $('#areaeli').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_redArea_eli(url){
      $('#redareaeli').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_RedArea_crear(url){
      $('#redarea').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_perfil_edi(url){
      $('#perfiledi').load(url,function(){
          $(this).modal('show');
      });
    }

</script>
<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_perfil_eli(url){
      $('#perfileli').load(url,function(){
          $(this).modal('show');
      });
    }

</script>


<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_equipo_view(url){
      $('#perfilequ').load(url,function(){
          $(this).modal('show');
      });
    }

</script>


{% endblock %}


