

{% load static %}

{% block content %}

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Agregar Equipo</h2>
      <button class="close" type="button" aria-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">$times;</span>

      </button>

    </div>
      <form method="post" action="{% url 'equipo_ip_relacion_crear' %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for hidden in form.hidden_fields %}

            {{hidden}}

        {% endfor %}

        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-6" style="margin: 0 auto;">
                
                <div class="card-footer clearfix">
                
                
                  <p></p>
                  <!-- general form elements -->
                  <div class="card card-primary" >
                    <div class="card-header"  style="background-color:#00588e">
                      <h3 class="card-title"><b>Asignacion de IP a Equipos {{ object_list}} {{ object.equipo.id}}</b>  </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                      <div class="card-body">
                        

                        <div class="text_center">
                      
                          <small class="text-danger">
                            {% if form.errors %}
                              {% for field in form %}
                              {% if field.errors %}
                                {% for error in field.errors %}
                                      {{ error|escape }}
                                {% endfor %}
                              {% endif %}
                              {% endfor %}
                              {% if form.non_field_errors %}
                              {% for error in form.non_field_errors %}
                                    {{ error|escape }}
                              {% endfor %}
                              {% endif %}

                            {% endif %}
                                  

                          </small>

                        </div>
                        
                        <div class="form-group" style="text-align: center;">
                          <label for="{{ form.equipo.id_for_label }}"
                                  class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.equipo.label}}</label>
                                <br>
                              
                                <div class="col-sm-12">
                                  {{form.equipo}}

                          </div>
                        </div>
                        

                        <div class="form-group">
                          <label for="{{ form.direccion.id_for_label }}"
                                  class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.direccion.label}}</label>
                          <br>
                          <div class="col-sm-8">
                                  {{form.direccion}}

                          </div>
                        </div>

                        
                          <div class="col-sm-10" style="visibility: hidden">
                                  {{form.esta_vigente}}

                          </div>
                        </div>
                      
                        
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary" style="background-color:#00588e"><b>Enviar</b> </button>
                        </div>
                  
                        
                        
                      </div>
                      <!-- /.card-body -->
        
                  
                  </form>

              

                </div>
        
        </div>
        </div>
        </div>
        </div>
        </section>
      

      
      </form>

{% endblock %}
{% block selec2 %}


<script type="text/javascript">
    $(document).ready(function() {
              $('#id_direccion').select2({
                theme: "bootstrap4",
                
              });

    });
</script>
{% endblock %}



