{% block content %}

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">AGREGAR UNIDAD{{ object.id }} </h2>
      <button class="close" type="button" aria-dismiss="modal" data-dismiss="modal" area-label-="Close">
        <span aria-hidden="true">&times;</span>

      </button>

    </div>

      
                 <form action="{% url 'pefilSecretaria_crear_dos' object.id %}" method="post">

                    {% csrf_token %}
        
                    {% for hidden in form.hidden_fields %}
                  
                        {{hidden}}
                  
                    {% endfor %}

                    <div class="modal-body">
                      

                      <div class="text_center">

                        <small class="text-danger">
                          {% if form.errors %}
                            {% for field in form %}
                            {% if field.errors %}
                              {% for error in field.errors %}
                                    {{ error|escape }}
                              {% endfor %}
                            {% endif %}
                            {% endfor %}
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                  {{ error|escape }}
                            {% endfor %}
                            {% endif %}

                          {% endif %}
                                

                        </small>

                      </div>
                
                    

                      <div class="form-group">
                        <label for="{{ form.secretaria.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.secretaria.label}}</label>
                                <br>
                            
                                <div class="col-sm-12">
                                {{form.secretaria}}
    
                        </div>
                        </div>
    
                        <div class="form-group">
                        <label for="{{ form.perfil.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.perfil.label}}</label>
                        <div class="col-sm-12">
                                {{form.perfil}}
                        </div>
                        </div>
    
                        
                        <div class="col-sm-10" style="visibility: hidden">
                        {{form.esta_vigente}}
    
                        </div>

                      
                  
                

            
                      
                      
                    </div>
                    <!-- /.card-body -->
      
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" style="background-color:#00588e "><b>Enviar</b> </button>
                  </div>
                </form>
         
        </div>
      </div>


{% endblock %}
{% block selec2 %}


<script type="text/javascript">
    $(document).ready(function() {
              $('#equipos').select2({
                theme: "bootstrap4",
                
              });

    });
</script>
{% endblock %}





      
           
        
