{% extends 'base/home.html' %}
{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#table-example').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
                
            });
        } );
</script>
{%  endblock %}




{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'red_crear' %}">Registrar Red</a></li>
<li class="breadcrumb-item"><a href="{% url 'red_listar' %}">Redes Activas</a></li>
{% endblock %}

{% block content %}




<div class="col-md-12">
  <!-- Widget: user widget style 1 -->
  <div class="card card-widget widget-user shadow-lg">
    <!-- Add the bg color to the header using any of the bg-* classes     https://www.platinapartners.com/wp-content/uploads/2019/05/PortHead_Lighthouse01.jpg   -->
    <!-- Add the bg color to the header using any of the bg-* classes     https://www.argored.es/wp-content/uploads/2020/06/Copenhague-desde-el-aire-a-lo-largo-de-la-cuarentena-1500x400.jpg   -->

    <div class="widget-user-header  d-flex flex-column justify-content-center text-white   "  src="{% static 'img/photo1.png' %} " 
          style="background: url('https://sercaman.es/wp-content/uploads/2019/07/Instalaciones-de-cableado-estructurado-voz-datos-y-fibra.jpg')center center; height:200px;text-align: center; ">
          <br>
         
          <div class="bg-black disabled color-palette"><span><h3 class="widget-user-username text-right  bg-light  color-palette "  style="justify-content: center;display: flex;align-items: center;">  <h2>  <b> <b> <b>REDES ACTIVAS</b> </b>   </b></h2>  </h3></span></div>
          <h5 class="widget-user-desc text-right"><p></p> <p></p></h5>
      <br>
    </div>


   

    
    <div class="widget-user-image">
   
        
        <br>
        <br>
        <p></p>
        <p></p>
      <img class="img-circle" src="{% static 'img/gober.png' %}" alt="User Avatar">
    </div>


  </div>
  <!-- /.widget-user -->
</div>



 





{% csrf_token %}
<section class="content">

    <div class="">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12" style="margin: 0 auto;">
            <div class="card-footer clearfix">
            <!-- general form elements -->
            <div class="card card-primary" >
              <div class="card-header" style="background-color:#343a40">
                <h3 class="card-title"> <b>DIRECCION DE RED : {{object.numero}}</b>  </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>

                <div class="card-body">
                    <table class="table table-bordered table-striped" id="table-example">
                        <thead>
                            <tr>
                                <td><b>#</b> </td>
                        
                                <td><b>DIRECCION IP</b></td>
                                <td><b>PERTA DE ENLACE</b></td>
                                <td><b>MASCARA</b></td>
                                <td><b>USUARIO</b></td>
                                <td><b>EQUIPO</b></td>
                                <td>AGREGAR</td>
                         


                              
                            </tr>
                        </thead>
                        <tbody>
                            <h1>  </h1>
                            {% if red_list %}

                            {% for item in red_list  %}

                            {% if item.get_equipod_vigente.get_perfil_vigente  %}
                            <tr style="background-color: rgb(238, 238, 253);">
                                
                                <td>{{forloop.counter }}</td>
                                <td>{{ item.ip}}</td>
                                <td>{{ item.puerta_enlace }}</td>
                                <td>{{ item.mascara }}</td>
                                <td >{{ item.get_equipod_vigente.get_perfil_vigente }} 
                                 {% if item.get_equipod_vigente.get_perfil_vigente.id %}
                                   <a class="no-ajaxy tm-btn btn-gray click-to-copy"   href="{% url 'perfil_detail_list' item.get_equipod_vigente.get_perfil_vigente.id  %}"> <i class="fa fa-eye"> </i></a>
                                {% endif %}
                                </td>
                                <td>
                                  
                                  {{ item.get_equipod_vigente }} 
                                
                                  
                                </td>
                                <td>
                                 
                                   
                                  <a class="btn btn-sm "   onclick="abrir_crear_user('{% url 'IperfilE_crear' item.id %}')"> <i class="fas fa-user-plus" style="font-size: 16px; color: rgb(255, 98, 98);"><b></b>  </i></a>
                                    <a class="btn btn-sm "   onclick="abrir_agregar_user('{% url 'RperfilE_crear' item.id  %}')"> <i class="fas fa-chalkboard-teacher " style="font-size: 16px; color: darkslateblue;"><b></b>  </i></a>
                                    
                                </td>
                             
                            </tr>




                            
                            {% else %}
                            
                            <tr>
                                
                              <td>{{forloop.counter }}</td>
                             
                   
                              <td>{{ item.ip}}</td>
                              <td>{{ item.puerta_enlace }}</td>
                              <td>{{ item.mascara }}</td>

                              <td >{{ item.get_equipod_vigente.get_perfil_vigente }} 
                               {% if item.get_equipod_vigente.get_perfil_vigente.id %}
                                 <a class="no-ajaxy tm-btn btn-gray click-to-copy"  href="{% url 'perfil_detail_list' item.get_equipod_vigente.get_perfil_vigente.id  %}"> <i class="fa fa-eye"> </i></a>
                              {% endif %}


                              
                            
                              
                              </td>

                              <td >
                                
                                {{ item.get_equipod_vigente }}  {{ item.get_equipod_vigente.id }}
                                {% if item.get_equipod_vigente.id %}
                                <a class="btn btn-sm "   onclick="abrir_crear_user_eq('{% url 'PefilEquipoCreate_crear' item.get_equipod_vigente.id %}')"> <i class="fas fa-user-plus" style="font-size: 16px; color: rgb(255, 98, 98);"><b></b>  </i></a>
                                {% endif %}
                                
                                
                              </td>
                            
                              <td>
                                 
                                  <a class="btn btn-sm "   onclick="abrir_crear_user('{% url 'IperfilE_crear' item.id %}')"> <i class="fas fa-user-plus" style="font-size: 16px; color: rgb(255, 98, 98);"><b></b>  </i></a>
                                  <a class="btn btn-sm "   onclick="abrir_agregar_user('{% url 'RperfilE_crear' item.id  %}')"> <i class="fas fa-chalkboard-teacher " style="font-size: 16px; color: darkslateblue;"><b></b>  </i></a>
                                  <a class="btn btn-sm "   onclick="abrir_agregar_equipo('{% url 'EquipoIpCreate_crear' item.id  %}')"> <i class="fas fa-laptop-medical " style="font-size: 16px; color: darkslateblue;"><b></b>  </i></a>
                              </td>
                          

                         
                          
                          </tr>
                            
                            {% endif %}












                            
                           
                            {% endfor %}
                            {% else %}
                                <h1>no hay equipos registrados</h1>
                            {% endif %}            
                        </tbody>
                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>

    <div class="modal fade" id="user" role="dialog"></div>
    <div class="modal fade" id="user_eli" role="dialog"></div>
    <div class="modal fade" id="agregar_user" role="dialog"></div>
    <div class="modal fade" id="agregar_equipo" role="dialog"></div>
    <div class="modal fade" id="agregarusereq" role="dialog"></div>
    <div class="modal fade" id="agregaruserequi" role="dialog"></div>
    <div class="card-footer clearfix">

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
        </ul>
    </div>
</div>
</div>
</div>
</div>
</div>


</section>


{% endblock %}


{% block extrajs %}
<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_crear_user(url){
      $('#user').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

<script type="text/javascript">
    var $=jQuery.noConflict();
      function abrir_modal_crear_eli(url){
        $('#user_eli').load(url,function(){
            $(this).modal('show');
        });
      }
  
  </script>
  
  <script type="text/javascript">
    var $=jQuery.noConflict();
      function abrir_agregar_user(url){
        $('#agregar_user').load(url,function(){
            $(this).modal('show');
        });
      }
  
  </script>
  <script type="text/javascript">
    var $=jQuery.noConflict();
      function abrir_agregar_equipo(url){
        $('#agregar_equipo').load(url,function(){
            $(this).modal('show');
        });
      }
  
  </script>
  <script type="text/javascript">
    var $=jQuery.noConflict();
      function abrir_crear_user_eq(url){
        $('#agregarusereq').load(url,function(){
            $(this).modal('show');
        });
      }
  
  </script>
  <script type="text/javascript">
    var $=jQuery.noConflict();
      function abrir_crear_user_equi(url){
        $('#agregaruserequi').load(url,function(){
            $(this).modal('show');
        });
      }
  
  </script>


{% endblock %}
