{% extends 'base/home.html' %}


{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#perfil-list-all').DataTable({
                responsive: true,
                autoWidth: false
            });
        } );
</script>
{%  endblock %}


{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'red_crear' %}">Registrar Red</a></li>
<li class="breadcrumb-item"><a href="{% url 'red_listar' %}">Redes Activas</a></li>
{% endblock %}



{% block content %}





    <!-- SEARCH FORM -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 search">
                <form method="GET">
                    <div  id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input class="form-control" type="text" placeholder="Buscar..." aria-label="Search" name="buscar">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button class="boton btn-success" type="submit" aria-label="Search"  >Buscar
                                </button>
                            </span>
                        </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>



 



<section class="content">

    

    <div class="container-fluid">
        
      <div class="row">
          
        <!-- left column -->
        <div class="col-md-10" style="margin: 0 auto;">

            <div class="card-footer clearfix">
            <a class="btn btn-primary" href="{% url 'red_crear' %}">Crear Redes</a>
            <br><p></p>
            <!-- general form elements -->
            <div class="card card-primary" >
                
              <div class="card-header">
                <h3 class="card-title">Lista de Usuarios  Registrados</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="perfil-list-all">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Red</td>
                                <td>Gateway</td>
                                <td>Nombre</td>
                                <td>Mascara</td>
                                <td>Fecha de Registro</td>
                                <td>Acciones</td>
                                <td>IP</td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if object_list %}
                            {% for red in object_list %}
                            <tr>
                                <td>{{ red.id }}</td>
                                <td>{{ red.numero }}</td>
                                <td>{{ red.puerta_enlace }}</td>
                                <td>{{ red.nombre }}</td>
                                <td>{{ red.mascara }}</td>
                                <td>{{ red.fecha }}</td>
                                <td>
                                    <a class="btn btn-primary  btn-sm" href="{% url 'redes_edit' red.id  %}"> <i class="fa fa-edit "> </i></a>
                                    <a class="btn btn-primary btn-danger btn-sm" href="{% url 'redes_delete' red.id  %}"> <i class="fas fa-trash-alt"> </i></a>
                                    
                                </td>

                                <td>
                                    <a class="btn btn-primary " href="{% url 'reddetail_listar' red.id  %}"><i class=" fa fa-eye"></i> </a>
                                    
                                </td>
                         
                                
                            
                            </tr>
                            {% endfor %}
                            {% else %}
                                <h2>No hay redes registradas</h2>

                            {% endif %}            

                        </tbody>

                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>

    <!-- /.card-body -->
    <div class="card-footer clearfix">
       

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
          </ul>
      </div>
</div>

</div>
</div>
</div>
</div>

</section>


{% endblock %}