{% extends 'base/home.html' %}
{% load staticfiles %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'red_creardos' %}">Registrar Red</a></li>
<li class="breadcrumb-item"><a href="{% url 'red_listar' %}">Redes Activas</a></li>
{% endblock %}

{% block content %}





<form method="post">
  {% csrf_token %}
  
  {% for hidden in form.hidden_fields %}

      {{hidden}}

  {% endfor %}



  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12" style="margin: 0 auto;">
          <div class="">
            <!-- general form elements -->
            <div class="card card-primary" >
              <div class="card-dark card-info card-outline " style="background-color:#343a40">
              
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  

                  <div class="text_center">
                  
                    <small class="text-danger">
                      {% if form.errors %}
                        {% for field in form %}
                        {% if field.errors %}
                          {% for error in field.errors %}
                                {{ error|escape }}
                          {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                               {{ error|escape }}
                        {% endfor %}
                        {% endif %}

                      {% endif %}
                            

                    </small>

                  </div> 


                  <div class="card-body row">
                    <div class="col-md-6">

                      <div class="tab-custom-content">
                        <p class="lead mb-1">AGREGAR DIRECCION DE RED</p>
                   
                      <br>
                      </div>

                      <div class="form-group">
                        <label for="{{ form.numero.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.numero.label}}</label>
                              <br>
                            
                              <div class="col-sm-12 input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <input type="radio"> <h6> </h6> 
                                  </span>
                                  
                                </div>
                                
                                {{form.numero}}
    
                        </div>
                      </div>
    
                      <div class="form-group">
                        <label for="{{ form.puerta_enlace.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.puerta_enlace.label}}</label>
                        
                          <div class="col-sm-12 input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <input type="radio"> <h6> </h6> 
                              </span>
                              
                            </div>
                            
                                {{form.puerta_enlace}}
                        </div>
                      </div>
    
                      <div class="form-group">
                        <label for="{{ form.nombre.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.nombre.label}}</label>
                        <br>
                        <div class="col-sm-12 input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <input type="radio"> <h6> </h6> 
                            </span>
                            
                          </div>
                                {{form.nombre}}
    
                        </div>
                      </div>
    
                      <div class="form-group">
                        <label for="{{ form.mascara.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.mascara.label}}</label>
                        <div class="col-sm-12 input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <input type="radio"> <h6> </h6> 
                            </span>
                            
                          </div>
                                {{form.mascara}}
                        </div>
                      </div>

                     
                   
                    </div>
                    <div class="col-md-6">


                        <div class="tab-custom-content">
                          <p class="lead mb-1">AGREGAR RANGO</p>
                     
                        <br>
                        </div>
                          


                        


                        <div><h6 class="mt-4 mb-2">INGRESE  RANGO VLAN</h6></div>
                        <br>
                        <div class="row" style="margin: 0 auto; align-content: center; justify-content: center;">
                          <div class="col-lg-4">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <input type="radio"> <h6> </h6> INICIO 
                                </span>
                                
                              </div>
                              {{form.inicio}}
                            </div>
                            <!-- /input-group -->
                          </div>
                         
      
                          
                          <!-- /.col-lg-6 -->
                          <div class="col-lg-4">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><input type="radio"> FIN </span>
                              </div>
                              {{form.fin}}
                            </div>
                            <!-- /input-group -->
                          </div>
                          <!-- /.col-lg-6 -->
                        </div>
                     
      
                         <BR></BR>
      
      

                        <div class="widget-user-image   text-center">
                                  
                            
                          <img class="img-circle" width="150" height="150" src="{% static 'img/gober.png' %}" alt="User Avatar">
                        </div>

                      
            
                      

        

             
                


                    </div>

                  </div>







                  

                 <!-- <div class="form-group " style="margin: 0 auto; justify-content: center;">
                  <div style="margin: 0 auto; "><h6>Agrege en rango de VLAN</h6></div>
                  <br>
                  <div class="row " style="margin: 0 auto; align-content: center; justify-content: center;">

                    <div class="form-group">
                      <label for="{{ form.inicio.id_for_label }}"
                              class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.inicio.label}}</label>
                      <div class="col-sm-6 ">
                              {{form.inicio}}
                      </div>
                    </div>
  
                    <div class="form-group">
                      <label for="{{ form.fin.id_for_label }}"
                              class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.fin.label}}</label>
                      <div class="col-sm-6">
                              {{form.fin}}
                      </div>
                    </div>
                    </div>
                 </div>
                    
                -->
             
                  
                </div>
                <!-- /.card-body -->
  
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" style="background-color:#00588e "><b>ENVIAR</b> </button>
              </div>
            </form>
          </div>
  
  </div>
  </div>
  </div>
  </div>
  </section>


</form>



{% endblock %}


