{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#red_list').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            });
        } );
</script>
{%  endblock %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'red_crear' %}">Registrar Red</a></li>
<li class="breadcrumb-item"><a href="{% url 'red_listar' %}">Redes Activas</a></li>
{% endblock %}


{% block content %}




<div class="col-md-12">
    <!-- Widget: user widget style 1 -->
    <div class="card card-widget widget-user shadow-lg">
      <!-- Add the bg color to the header using any of the bg-* classes     https://www.platinapartners.com/wp-content/uploads/2019/05/PortHead_Lighthouse01.jpg   -->
      <!-- Add the bg color to the header using any of the bg-* classes     https://www.argored.es/wp-content/uploads/2020/06/Copenhague-desde-el-aire-a-lo-largo-de-la-cuarentena-1500x400.jpg   -->
  
      <div class="widget-user-header  d-flex flex-column justify-content-center text-white   "  src="{% static 'img/photo1.png' %} " 
            style="background: url('https://www.sise.edu.pe/sites/default/files/carreras/2017-03/Carrera%20de%20redes%20y%20seguridad%20informatica.jpg')center center; height:310px;text-align: center; ">
            <br>
           
            <div class="bg-black disabled color-palette"><span><h3 class="widget-user-username text-right  bg-light  color-palette "  style="justify-content: center;display: flex;align-items: center;">  <h2>  <b> <b> <b>REDES ACTIVAS</b> </b>   </b></h2>  </h3></span></div>
            <h5 class="widget-user-desc text-right"><p></p> <p></p></h5>
        <br>
      </div>
  
  
     
  
      
      <div class="widget-user-image">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p></p>
          <p></p>
        <img class="img-circle" src="{% static 'img/gober.png' %}" alt="User Avatar">
      </div>
  
  
    </div>
    <!-- /.widget-user -->
  </div>

 



<section class="content">

    

    <div class="">
        
      <div class="row">
          
        <!-- left column -->
        <div class="col-md-12" style="margin: 0 auto;">

            <div class="card-footer clearfix">
            
            <!-- general form elements -->
            <div class="card card-primary" >
                
              <div class="card-header" style="background-color:#343a40">
                <h3 class="card-title"> <b>REDES ACTIVAS</b> </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form  id="red_list1">
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="red_list">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td><b>NOMBRE</b></td>
                                <td> <b>RED</b> </td>
                                <td><b>GATEWAY</b></td>
                                <td><b>MASCARA</b></td>
                                <td><b>INICIO</b></td>
                                <td><b>FIM</b></td>
                                <td><b>ACCIONES</b></td>
                                <td><b>IP</b></td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if object_list %}
                            {% for red in object_list %}
                            <tr>
                                <td>{{forloop.counter }}</td>
                                <td>{{ red.nombre }}</td>
                                <td>{{ red.numero }}</td>
                                <td>{{ red.puerta_enlace }}</td>
                                <td>{{ red.mascara }}</td>
                                <td>{{ red.inicio }}</td>
                                <td>{{ red.fin }}</td>
                                <td>
                                    
                                     <a class="btn btn-sm btn-xs"  onclick=" abrir_modal_red_eli('{% url 'redes_delete'  red.id %}')" > <i class="fas fa-trash-alt small" style="font-size: 16px; color: firebrick ;"> </i></a>


                                </td>

                                <td>
                                    <a class="no-ajaxy tm-btn btn-gray click-to-copy " href="{% url 'reddetail_listar' red.id  %}"><i class=" fa fa-eye"> </i></a>
                                    
                                </td>
                         
                                
                            
                            </tr>
                            {% endfor %}
                            {% else %}
                                

                            {% endif %}            

                        </tbody>

                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>

                <div class="modal fade" id="red_edi" role="dialog"></div>
                <div class="modal fade" id="red_eli" role="dialog"></div>

    <!-- /.card-body -->
    <div class="card-footer clearfix">
       

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
          </ul>
      </div>
</div>

</div>
</div>
</div>
</div>

</section>


{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_red_edi(url){
      $('#red_edi').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_red_eli(url){
      $('#red_eli').load(url,function(){
          $(this).modal('show');
      });
    }

</script>



{% endblock %}


