
{% load staticfiles %}
{% block content %}

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header" style="background-color: rgb(31, 38, 51);">
      <h5 class="modal-title"  style="text-align: center center;color: rgb(255, 255, 255);">AGREGAR NUEVO FUNCIONARIO </h5>
      <button class="close" type="button" aria-dismiss="modal" data-dismiss="modal" area-label-="Close">
        <span aria-hidden="true">&times;</span>

      </button>

    </div>

      
                 <form action="{% url 'PefilEquipoCreate_crear' object.id %}"   method="post">

                    {% csrf_token %}
        
                    {% for hidden in form.hidden_fields %}
                  
                        {{hidden}}
                  
                    {% endfor %}

                    <div class="modal-body">
                      

                      <div class="text_center">

                        <small class="text-danger">
                          {% if form.errors %}
                            {% for field in form %}
                            {% if field.errors %}
                              {% for error in field.errors %}
                                    {{ error|escape }}
                              {% endfor %}
                            {% endif %}
                            {% endfor %}
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                  {{ error|escape }}
                            {% endfor %}
                            {% endif %}

                          {% endif %}
                                

                        </small>

                      </div>
                
                      <div class="card-body row">
                        <div class="col-md-8">




                          <div class="tab-custom-content">
                            <p class="lead mb-1">AGREGAR FUNCIONARIO</p>
                       
                          <br>
                          </div>

                          <div class="form-group" >
                            <label 
                            class="col-xs-8 col-sm-8 col-md-8 control-label">NOMBRE</label>
                            <br>
                            <div class="col-sm-12">
                              {{ form2.nombre}}
        
                            </div>
                          </div>

                          <div class="form-group" >
                            <label 
                            class="col-xs-8 col-sm-8 col-md-8 control-label">APELLIDO</label>
                            <br>
                            <div class="col-sm-12">
                              {{ form2.apellido}}
        
                            </div>
                          </div>
                          <div class="form-group" >
                            <label 
                            class="col-xs-8 col-sm-8 col-md-8 control-label">CI</label>
                            <br>
                            <div class="col-sm-12">
                              {{ form2.ci}}
        
                            </div>
                          </div>
                          <div class="form-group" >
                            <label 
                            class="col-xs-8 col-sm-8 col-md-8 control-label">CORREO ELECTRONICO</label>
                            <br>
                            <div class="col-sm-12">
                              {{ form2.correo}}
        
                            </div>
                          </div>
                          <div class="form-group" >
                            <label 
                            class="col-xs-8 col-sm-8 col-md-8 control-label">CARGO</label>
                            <br>
                            <div class="col-sm-12">
                              {{ form2.cargo}}
        
                            </div>
                          </div>
                  
              
                    </div>
                    <div class="col-md-4" >


                    <br>

                      <div class="form-group" style="display: none"  >
                   

                        <div class="col-sm-12">
                                {{form.as_p}}
    
                        </div>
                      </div>

                      <div class="widget-user-image   text-center">
                                    
                              
                        <img class="img-circle" width="100" height="100" src="{% static 'img/gober.png' %}" alt="User Avatar">
                      </div>
                     
    
    
                    </div>
                   



                        

                    </div>
                    <!-- /.card-body -->
      
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" style="background-color:#00588e "><b>Enviar</b> </button>
                  </div>
                </form>
         
        </div>
      </div>


{% endblock %}





{% block selec2 %}


<script type="text/javascript">
    $(document).ready(function() {
              $('#id_direccion').select2({
                theme: "bootstrap4",
                
              });

    });
</script>

<script type="text/javascript">
  $(document).ready(function() {
            $('#sistema_operativo').select2({
              theme: "bootstrap4",
              
            });

  });
</script>

{% endblock %}

