
{% load staticfiles %}
{% block content %}

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content" style="filter:alpha(opacity=30); opacity:0.95; background-color:  rgb(255, 255, 255);">
    <div class="modal-header" style="background-color: rgb(31, 38, 51);">
      <h5 class="modal-title"  style="text-align: center center;color: rgb(255, 255, 255);">AGREGAR FUNCIONARIO </h5>
      <button class="close" type="button" aria-dismiss="modal" data-dismiss="modal" area-label-="Close">
        <span aria-hidden="true">&times;</span>

      </button>

    </div>

      
                 <form   action="{% url 'RperfilE_crear' object.id %}"  method="post">

                    {% csrf_token %}
        
                    {% for hidden in form.hidden_fields %}
                  
                        {{hidden}}
                  
                    {% endfor %}

                    <div class="modal-body">
                      

                      <div class="text_center">

                        <small class="text-danger">
                          {% if form.errors %}
                            {% for field in form %}
                            {% if field.errors %}
                              {% for error in field.errors %}
                                    {{ error|escape }}
                              {% endfor %}
                            {% endif %}
                            {% endfor %}
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                  {{ error|escape }}
                            {% endfor %}
                            {% endif %}

                          {% endif %}
                                

                        </small>

                      </div>
                


                    
                      <div class="col-12 col-sm-12" style="display: none" >
                        <div class="card card-primary card-tabs">
                          <div class="card-header p-0 pt-1" style="background-color:#bcc1c7 ">
                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">EQUIPO</a>
                              </li>
                    
                        
                           
                            </ul>
                          </div>

                          <div class="card-body" >
                            <div class="tab-content" id="custom-tabs-one-tabContent">
        
                              <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                <div class="tab-custom-content">
                                  <p class="lead mb-0">Crear Equipo para {{ object.id }} </p>
                                </div>
            
                                {{ form.as_p}}
                               
                  
                              </div>
        
                        
                            </div>
        
                          </div>

                          <!-- /.card -->
                        </div>
                      </div>




                      <div class="card-body row">
                        <div class="col-md-6">



                    

                              <div class="tab-custom-content">
                                <p class="lead mb-2">AGREGAR USUARIO</p>
                           
                              <br>
                              </div>
    
                              <div class="form-group" >
                                <label 
                                        class="col-xs-8 col-sm-8 col-md-8 control-label">NOMBRE</label>
                                <br>
                                <div class="col-sm-12">
                                    {{ form3.perfil}}
            
                                </div>
                              </div>


                              <BR>
                              </BR>
          
                              <div class="widget-user-image   text-center">
                                            
                                      
                                <img class="img-circle" width="100" height="100" src="{% static 'img/gober.png' %}" alt="User Avatar">
                              </div>


                          

                         
                       
                        </div>
                        <div class="col-md-6">

                            <div class="tab-custom-content">
                                <p class="lead mb-1">AGREGAR EQUIPO</p>
                           
                              <br>
                              </div>
    
                              <div class="form-group" >
                                <label 
                                        class="col-xs-8 col-sm-8 col-md-8 control-label">NOMBRE</label>
                                <br>
                                <div class="col-sm-12">
                                        {{form2.nombre_host}}
            
                                </div>
                              </div>
    
                              <div class="form-group" >
                                <label 
                                        class="col-xs-9 col-sm-9 col-md-9 control-label">SISTEMA OPERATIVO</label>
                                <br>
                                <div class="col-sm-12">
                                        {{form2.sistema_operativo}}
            
                                </div>
                              </div>
    
                              <div class="form-group" >
                                <label 
                                        class="col-xs-6 col-sm-6 col-md-6 control-label">MAC</label>
                                <br>
                                <div class="col-sm-12">
                                        {{form2.mac}}
            
                                </div>
                              </div>
    
                              <div class="form-group" >
                                <label 
                                        class="col-xs-6 col-sm-6 col-md-6 control-label">MAC 2</label>
                                <br>
                                <div class="col-sm-12">
                                        {{form2.mac1}}
            
                                </div>
                              </div>
                              
    
                     
                          



            

                        <div  style="display: none" >
                          <div class="tab-custom-content">
                            <p class="lead mb-0">Agregar una Direccion al Equipo</p>
                            <br>

                          </div>
  
                          <div class=" col-sm-12 text_center">
  
  
                          {{ form3.esta_vigente}}
              
  
                        </div>
                 
                    </div>
                   
                    


                        </div>

                      </div>

                      
                    </div>
                    <!-- /.card-body -->
      
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" style="background-color:#00588e "><b>Enviar</b> </button>
                  </div>
                </form>
         
        </div>
      </div>


{% endblock %}





{% block selec2 %}


<script type="text/javascript">
    $(document).ready(function() {
              $('#id_perfil').select2({
                theme: "bootstrap4",
                
              });

    });
</script>

<script type="text/javascript">
  $(document).ready(function() {
            $('#sistema_operativo').select2({
              theme: "bootstrap4",
              
            });

  });
</script>

{% endblock %}

