{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#perfil-detail-listar').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            });
        } );



        
</script>



{%  endblock %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'perfil_crear' %}">Registrar Usuario</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar' %}">Usuarios Activos</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar_all' %}">Acciones</a></li>
{% endblock %}

{% block content %}

<div class="col-md-13" >
  <!-- Widget: user widget style 1 -->
  <div class="card card-widget widget-user shadow-lg" >
    <!-- Add the bg color to the header using any of the bg-* classes     https://www.platinapartners.com/wp-content/uploads/2019/05/PortHead_Lighthouse01.jpg   -->
    <!-- Add the bg color to the header using any of the bg-* classes     https://www.argored.es/wp-content/uploads/2020/06/Copenhague-desde-el-aire-a-lo-largo-de-la-cuarentena-1500x400.jpg    https://apliqa.es/wp-content/uploads/2016/09/7.jpg -->

    <div class="widget-user-header  d-flex flex-column justify-content-center "  src="{% static 'img/photo1.png' %} "
          style="background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Potosi_D%C3%A9cembre_2007_-_Panorama_4.jpg/1920px-Potosi_D%C3%A9cembre_2007_-_Panorama_4.jpg')center center; height:245px;text-align: center; ">
          <br>

          <div class="bg-light disabled color-palette"><span><h3 class="widget-user-username text-right  bg-light  color-palette "  style="justify-content: center;display: flex;align-items: center;">  <h2>  <b> {{ object.nombre }}  </b></h2>  </h3></span></div>
         
          <h5 class="widget-user-desc text-right"><p></p> <p></p></h5>
        

      <br>
    </div>




    
    <div class="widget-user-image">
        <br>
        <br>
        <br>
        <p></p>
      <img class="img-circle" src="{% static 'img/gober.png' %}" alt="User Avatar">
    </div>
    <div class="card-footer ">
      <div class="row">
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header">SIGLA</h5>
            <span class="description-text">{{ object.sigla }}</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header"> TIPO</h5>
            <span class="description-text">{{ object.tipo }}</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4">
          <div class="description-block">
            <h5 class="description-header">DIRECCION</h5>
            <span class="description-text">{{ object.detalle }}</span>
          </div>
          <!-- /.description-block -->
        </div>

  
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.widget-user -->
</div>




<section class="content" >

    <div class="" >
        
      <div class="row" >
          
        <!-- left column -->
        <div class="col-md-12" style="margin: 0 auto; ">
           
              <div class="  card-dark card-outline" style="background-color:#343a40 ">
            
              </div>
              <!-- /.card-header -->
              <!-- form start      ../../../static/lib/adminlte-3.1.0/img/photo1.png   #343a40 -->

                <br>




              <div class="row parter" style="margin: 0 auto; align-content: center; justify-content: center;" >
                <div class="col-lg-4 ">
                  <div class="input-group">
                  <div class="col-sm-4 border-right" >
                    
               
                  </div>
                  </div>
              
                </div>
               <p></p>
               <div class="col-lg-4">
                <div class="input-group">
                  <div class="col-sm-4 border-right" >
                 
                  </div>
                  </div>
              </div>
                    
                    <div class="col-lg-4 ">
                      <div class="input-group">
                      <div class="col-sm-4 border-right" >
                        <a class="btn btn-primary  btn-sm" href="{% url 'pefilArea_crear' object.id  %}"> <i class="fa fa-edit "> </i> funcionarios relacion</a>
                        <button class="btn btn-primary"  style="background-color:#00588e "  onclick=" abrir_modal_funcionario('{% url 'areavPerfil_crear'  object.id %}')"> <b>NUEVO FUNCIO </b> </button>

                      </div>
                      </div>
                  
                </div>
                
                    

              </div>
     
  <br>



                 
            <div style="clear:both"></div>






      
      
              <div class="col-12 col-sm-12">
                <div class="card card-primary card-tabs">
                  <div class="card-header p-0 pt-1" style="background-color:#343a40 ">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">FUNCIONARIOS</a>
                      </li>

                   
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content" id="custom-tabs-one-tabContent">

                      <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                        <div class="tab-custom-content">
                          <p class="lead mb-0">FUNCIONARIOS de la {{ object.nombre }} </p>
                        </div>



                        <form>
                          <div class="card-body">
                            <table class="table table-bordered table-striped" id="funci-detail-listar">
                                <thead>
                                    <tr>
                                        <td><b>#</b> </td>
                                        <td><b>nombre</b></td>
                                        <td><b>ci</b></td>
                                        <td><b>apellido</b></td>
                                        <td><b>correo</b></td>
                                        <td><b>tipo</b></td>
                                        <td><b>AGREGAR RED</b></td>
                                        <td><b>ACCIONES</b></td>
                                        <td><b>Destalles</b></td>
                                        <td><b>Asignar RED</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <h1>  </h1>
                                    {% if perfil_list %}
              
                                    {% for item in perfil_list %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.nombre }}</td>
                                        <td>{{ item.ci}}</td>
                                        <td>{{ item.apellido }}</td>
                                        <td>{{ item.correo }}</td>
                                        <td>{{ item.tipo }}</td>
                                        <td>{{ item.get_red_vigente }}</td>

                                        <td>
                                          <a class="btn btn-primary  btn-sm" href="{% url 'areav_edit' item.id  %}"> <i class="fa fa-edit "> </i></a>
                                          <a class="btn btn-primary btn-danger btn-sm" href="{% url 'areav_delete' item.id  %}"> <i class="fas fa-trash-alt"> </i></a>
                                          
                                        </td>
                                        <td>

                                          <a class="btn btn-primary  btn-sm" href="{% url 'areav_detail_list' item.id  %}"> <i class="fa fa-edit "> </i> Areas</a>
                                          <a class="btn btn-primary  btn-sm" href="{% url 'areav_detail_list' item.id  %}"> <i class="fa fa-edit "> </i> Funcionarios</a>
                           
                                        </td>

                                        <td>

                                          <a class="btn btn-primary  btn-sm" href="{% url 'perfil_detail_list' item.id  %}"> <i class="fa fa-edit "> </i> detalles</a>
                           
                                        </td>
                                    
                                    </tr>
                                    {% endfor %}
                              
                                      
                                    {% endif %}            
                                </tbody>
                            </table>
              
              
                          </div>
                        <!-- /.card-body -->
              
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- /.card -->
                </div>
              </div>


           
                
        

            

                <div class="modal fade" id="funcionario" role="dialog"></div>
            
      

                    <!-- /.card-body -->
        


  </div>
  </div>
  </div>


</section>


{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_funcionario(url){
      $('#funcionario').load(url,function(){
          $(this).modal('show');
      });
    }

</script>



{% endblock %}


