{% block content %}

<section class="content">

    <div class="container-fluid">
        
      <div class="row">
          
        <!-- left column -->
        <div class="col-md-9" style="margin: 0 auto;">
            <div class="card-footer clearfix">
           
            <br><p></p>
          
            <!-- general form elements -->
            <div class="card card-primary" >
                
              <div class="card-header" style="background-color:#00588e ">
                <h3 class="card-title"  > <b>Lista de Usuarios  Registrados</b> </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="perfil-list">
                        <thead>
                            <tr>
                                <td><b>#</b> </td>
                                <td><b>nombre</b></td>
                                <td><b>sigla</b></td>
                                <td><b>tipo</b></td>
                              
                    
                                
                            </tr>
                        </thead>
                        <tbody>

                            {% if object_list %}
                            {% for perfil in object_list %}
                         
                            
                            <tr>
                                <td>{{forloop.counter }}</td>
                                <td>{{ perfil.nombre }}</td>
                                <td>{{ perfil.sigla }}</td>
                                
                                <td>{{ perfil.tipo }}</td>
                        
                            </tr>
                            {% endfor %}
                   
 
                            {% endif %}            

                        </tbody>

                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>

    <!-- /.card-body -->
    <div class="card-footer clearfix">
       

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
          </ul>
      </div>
</div>
</div>
</div>
</div>
</div>


</section>

{% endblock %}
